
*{
    margin: 0;
    padding: 0;
}
#bgColor{
    background-color: #c2c6a7;
}
#headerP{
    display: flex;
        height: 6vw;
        position: sticky;
        top: 0px;
        background-color: rgb(106, 163, 213);
        align-items: center;
    }
#headerP a{
margin-left: 5vw;
    }
.cajaGrandeP1{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30vw;
    margin-top: 5vw;


}
#noTanGrandeP1{
    background-color: #9ac2c5;
    border-radius: 7%;
    display: flex;
    width: 45vw;
    justify-content: space-evenly;
}
.ingresarDatosP1{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 20vw;
    height: auto;

}
.ingresarDatosP1 label{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.resultadosP1{
    align-items: center;
    display: flex   ;
    width: auto;
}
.resultadosP1 p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 1vw;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
    display: flex   ;
    align-items: center;
}
#cms{
    height: 5vw;
    width: 10vw;
}
#kgs{
    height: 5vw;
    width: 10vw; 
}
.containerP2{
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 20vw;
}
#bgContainerP2{
    padding: 2vw;
    border-radius: 5%;
    width: 19vw;
    background-color: #9ac2c5;
}
#bgContainerP2 label{
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.container {
    max-width: 400px;
    margin: 0 auto;
    border-radius: 5px;

   
}

/*////////////////////////////////////////////////////////////////**/
body{
    background-color: #9ac2c5;
}
#cajaGrandeP3{
    justify-content: space-around;
    display: flex;
    height: 35vw;
    justify-content: center;
}
.cajaNota{
    display: flex;
    margin-top: 5vw;
    width: 70vw;
    height: 25vw;
    background-color: #c2c6a7;

}
#mitad1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 100%;
    
    /* background-color: aliceblue; */
}
#mitad2{
    display: flex;
    width: 30%;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}
#botonGuardar{
    background-color: #4ccb25;
    border: solid 2px  #4ccb25;
}
#botonBorrar{
    background-color: #a72d2d;
    border: solid 2px #a72d2d;
}
#cajaTarjetas{
    display: flex;
    height: 100vw;
    justify-content: center;
}
#tarjetas{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 80vw;
    background-color: aliceblue;

}
.color{
    background-color: beige;
}
.txtt{
    margin-left: 20vw;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#tarjetasPintadas{
    display: flex;
    flex-wrap: wrap;
    margin-left: 2.5%;
    background-color: aquamarine;
    width: 95%;
    height: 100%;
    border-radius: 15px;
}
.tarjetica{

    border: solid 2px violet;
    margin-top: 1vw;
    height: 13vw;
}
.bpa{
    height: 100%;
}
body {
    background-color: #f8f9fa;
}

footer {
    text-align: center;
    color: #343a40;
    margin-top: 20px;
}

.note-card {
    margin-bottom: 15px;
}

.realizada {
    text-decoration: line-through;
    font-weight: bold;
}